<html lang="en">
  <head>
    <script src="jquery-3.2.1.min.js"></script> <!-- not workinnnnnnn -->
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <meta charset="UTF-8">
    <title>colourscape</title>
  </head>
<body>
  <div class="upper-space">
    <h1 class="title">Colourscape</h1>
    <form class="searchbar-form">
      <input class="searchbar-place" type="text" placeholder="where?">
    </form>
  </div>
  <div class="big-container">
    <div class="half-container half-container-top">
      <% include _half-container-upper %>
      <% include _half-container-upper %>
      <% include _half-container-upper %>
      <% include _half-container-upper %>
      <% include _half-container-upper %>
      <% include _half-container-upper %>
    </div>
    <div class="half-container half-container-bottom">
      <% include _half-container-lower %>
      <% include _half-container-lower %>
      <% include _half-container-lower %>
      <% include _half-container-lower %>
      <% include _half-container-lower %>
      <% include _half-container-lower %>
      <% include _half-container-lower %>
      <% include _half-container-lower %>
    </div>
  </div>
  <div class="lower-space">
  </div>
</body>
</html>